<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/header.css">
</head>

<body>





<div class="social-icons">


    <!-- Twitter Icon -->
    <a href="https://www.twitter.com" target="_blank" class="social-icon twitter">
        <img src="/assets/images/icons/icons8-whatsapp.svg" alt="Twitter">
    </a>

    <!-- Instagram Icon -->
    <a href="https://www.instagram.com" target="_blank" class="social-icon instagram">
        <img src="/assets/images/icons/icons8-instagram.svg" alt="Instagram">
    </a>

    <!-- LinkedIn Icon -->
    <a href="https://www.linkedin.com" target="_blank" class="social-icon linkedin">
        <img src="/assets/images/icons/icons8-linkedin.svg" alt="LinkedIn">
    </a>
</div>


<nav>
    <a href="/index.html">
        <div class="logo">
            <img src="/assets/images/servives/logo.png" alt="Company Logo">
        </div>
    </a>
    <ul class="nav-links">
        <li><a href="/pages/index.html">Home</a></li>
        <li class="dropdown">
            <a href="/pages/about.html">
                About Us
                <img src="/assets/images/icons/icons8-drop-down-24.png" alt="Dropdown Icon" class="dropdown-icon">
            </a>
            <ul class="submenu">
                <li><a href="/pages/about.html">Overview</a></li>
                <li><a href="/pages/about.html">Our Vision & Mission</a></li>
                <li><a href="/pages/about.html">Management</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="/pages/projects.html">
                Our Projects
                <img src="/assets/images/icons/icons8-drop-down-24.png" alt="Dropdown Icon" class="dropdown-icon">
            </a>
            <ul class="submenu">
                <li><a href="/pages/projects.html">Construction</a></li>
                <li><a href="/pages/projects.html">Product</a></li>
                <li><a href="/pages/services.html">Services</a></li>
                <li><a href="#projectgallery">Project Gallery</a></li>
            </ul>
        </li>
        <li><a href="/pages/services.html">Service</a></li>
        <li><a href="/pages/contact.html">Contact Us</a></li>
        <li class="dropdown">
            <a href="#">Media
                <img src="/assets/images/icons/icons8-drop-down-24.png" alt="Dropdown Icon" class="dropdown-icon">
            </a>
            <ul class="submenu">
                <li><a href="#news">News</a></li>
                <li><a href="#newsgallery">News Gallery</a></li>
                <li><a href="#blog">Blog</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="/pages/careers.html">
                Opportunities
                <img src="/assets/images/icons/icons8-drop-down-24.png" alt="Dropdown Icon" class="dropdown-icon">
            </a>
            <ul class="submenu">
                <li><a href="/pages/careers.html">Careers</a></li>
                <li><a href="#uniquelaent">Unique Talent</a></li>
            </ul>
        </li>
    </ul>
    <div class="hamburger">
        <img src="/assets/images/icons/icons8-menu.svg" alt="Menu Icon">
    </div>
</nav>

<!-- Mobile Menu -->
<div class="menubar">
    <a href="/index.html">
        <div class="logo">
            <img src="/assets/images/servives/logo.png" alt="Company Logo">
        </div>
    </a>
    <ul>
        <li><a href="/pages/index.html">Home</a></li>
        <li class="dropdown">
            <a href="/pages/about.html" data-toggle="submenu">
                About Us
                <img src="/assets/images/icons/icons8-drop-down-24.png" alt="Dropdown Icon" class="dropdown-icon">
            </a>
            <ul class="submenu">
                <li><a href="/pages/about.html">Overview</a></li>
                <li><a href="/pages/about.html">Our Vision & Mission</a></li>
                <li><a href="/pages/about.html">Management</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="/pages/projects.html" data-toggle="submenu">
                Our Projects
                <img src="/assets/images/icons/icons8-drop-down-24.png" alt="Dropdown Icon" class="dropdown-icon">
            </a>
            <ul class="submenu">
                <li><a href="/pages/projects.html">Construction</a></li>
                <li><a href="/pages/projects.html">Product</a></li>
                <li><a href="/pages/services.html">Services</a></li>
                <li><a href="#projectgallery">Project Gallery</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="submenu">
                Media
                <img src="/assets/images/icons/icons8-drop-down-24.png" alt="Dropdown Icon" class="dropdown-icon">
            </a>
            <ul class="submenu">
                <li><a href="#news">News</a></li>
                <li><a href="#newsgallery">News Gallery</a></li>
                <li><a href="#blog">Blog</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="/pages/careers.html" data-toggle="submenu">
                Opportunities
                <img src="/assets/images/icons/icons8-drop-down-24.png" alt="Dropdown Icon" class="dropdown-icon">
            </a>
            <ul class="submenu">
                <li><a href="/pages/careers.html">Careers</a></li>
                <li><a href="#uniquelaent">Unique Talent</a></li>
            </ul>
        </li>
        <li><a href="/pages/feedback.html">Help & Feedbacks</a></li>
        <li><a href="/pages/contact.html">Contact Us</a></li>
    </ul>
</div>

<!-- Preloader -->
<div class="preloader">
    <div class="loader"></div>
</div>
<!-- Page content -->
<button id="scrollToTopBtn" class="scroll-to-top">↑</button>
<!-- More page content -->


</body>
<script src="/assets/js/header.js">


</script>
x
</html>