<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/header.css">
</head>

<body>


<!-- Loading Bar -->
<div id="loading-bar"></div>


<div class="social-icons">
    <a href="https://www.facebook.com" target="_blank" class="social-icon facebook">F</a>
    <a href="https://www.twitter.com" target="_blank" class="social-icon twitter">T</a>
    <a href="https://www.instagram.com" target="_blank" class="social-icon instagram">I</a>
</div>


    
    <nav>
    <a href="/pages/index.html">
        <div class="logo">
            <img src="/assets/images/servives/logo.png" alt="Company Logo" />
            <!-- <h1>LOGO</h1> -->
        </div>
    </a>

        <ul>
            <li><a href="/pages/index.html">Home</a></li>
            <li class="dropdown">
                <a href="/pages/about.html">About Us ⬇️</a>
                <ul class="submenu">
                    <li><a href="/pages/about.html">Overview</a></li>
                    <li><a href="/pages/about.html">Our Vision & Mission</a></li>
                    <li><a href="/pages/team.html">Management</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Our Projects ⬇️</a>
                <ul class="submenu">
                    <li><a href="#construction">Construction</a></li>
                    <li><a href="#product">Product</a></li>
                    <li><a href="/pages/services.html">Services</a></li>
                    <li><a href="#projectgallery">Project Gallery</a></li>

                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Media ⬇️</a>
                <ul class="submenu">
                    <li><a href="#news">News</a></li>
                    <li><a href="#newsgallery">News Gallery</a></li>
                    <li><a href="#blog">Blog</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="/pages/careers.html">Opportunities ⬇️ </a>
                <ul class="submenu">
                    <li><a href="/pages/careers.html">Careers</a></li>
                    <li><a href="#uniquelaent">Unique Talent</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="/pages/feedback.html">Help & Feedbacks</a>
                <!-- <ul class="submenu">
                    <li><a href="#feedbacks">Feedbacks</a></li>
                    <li><a href="#suggestions">Suggestions</a></li>
                    <li><a href="#complaints">Complaints</a></li>
                </ul> -->
            </li>
            <li><a href="/pages/contact.html">Contact Us</a></li>
        </ul>
        <div class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </nav>
    <div class="menubar">
        <ul>
            <li><a href="#">Home</a></li>
            <li class="dropdown">
                <a href="#">About Us</a>
                <!-- <ul class="submenu">
                    <li><a href="about.html">Overview</a></li>
                    <li><a href="about.html">Our Vision & Mission</a></li>
                    <li><a href="about.html">Management</a></li>
                </ul> -->
            </li>
            <li class="dropdown">
                <a href="#">Our Projects</a>
                <!-- <ul class="submenu">
                    <li><a href="#construction">Construction</a></li>
                    <li><a href="#product">Product</a></li>
                    <li><a href="#services">Services</a></li>
                </ul> -->
            </li>
            <li class="dropdown">
                <a href="#">Media</a>
                <!-- <ul class="submenu">
                    <li><a href="#news">News</a></li>
                    <li><a href="#testimonials">Testimonials</a></li>
                    <li><a href="#updates">Construction Updates</a></li>
                </ul> -->
            </li>
            <li class="dropdown">
                <a href="#">Opportunities</a>
                <!-- <ul class="submenu">
                    <li><a href="careers.html">Careers</a></li>
                    <li><a href="#business">Business</a></li>
                </ul> -->
            </li>
            <li class="dropdown">
                <a href="#">Customer Interface</a>
                <!-- <ul class="submenu">
                    <li><a href="#feedbacks">Feedbacks</a></li>
                    <li><a href="#suggestions">Suggestions</a></li>
                    <li><a href="#complaints">Complaints</a></li>
                </ul> -->
            </li>
            <li><a href="/pages/contact.html">Contact Us</a></li>
        </ul>
    </div>

 


    <!-- Page content -->
    <button id="scrollToTopBtn" class="scroll-to-top">↑</button>
    <!-- More page content -->



</body>
<script src="/assets/js/header.js">
   

</script>

</html>