/* Footer Container */
.footer-container {
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
    color: #ccc;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    text-align: left;
}

/* Footer Logo */
.footer-logo img {
    height: 95px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Footer Columns */
.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.footer-column {
    flex: 1 1 220px;
    margin: 15px;
}

.footer-column h3 {
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: #ffffff;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 10px;
}

.footer-column a {
    display: block;
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column a:hover {
    color: #007bff;
}



/* Footer Text */
footer p {
    margin: 10px 0;
    text-align: justify;
}

footer a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #0056b3;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .footer-container {
        padding: 20px;
    }

    .footer-logo img {
        height: 80px;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-basis: 100%;
        padding: 20px;
        gap: 10px;
        

    }

    .social-media {
        flex-direction: column;
    }
}

/* SEO-Friendly Enhancements */
footer,
.footer-container {
    background-color: #000000;
    color: #fff;
}

footer p,
.footer-column p {
    font-size: 1rem;
}
/* Footer Text */
footer p {
    margin: 10px 0;
    text-align: center;
    /* Changed from justify to center */
}
footer .footer-logo img {
    width: 240px;
    height: 120px;
    /* filter: invert(1) grayscale(100%) contrast(100%); */
}
/* Accessibility Enhancements */
